﻿@model ClearSkyProperties.Models.Property
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Property Details";
}

    <div class="container">
        <h1>@ViewData["Title"]</h1>
        <div class="card-container">
            <div class="k-card card-details">
                <div class="k-card-header">
                    <h5 class="k-card-title">@Html.DisplayFor(model => model.Name)</h5>
                    <h6 class="k-card-subtitle">
                        @{
                            int price = Int32.Parse(Html.Raw(Model.Price).ToString());
                            decimal result = price / 100m;
                            var priceString = result.ToString("c");
                        } @priceString
                    </h6>
                </div>
                <img class="k-card-image" src="~/@Html.DisplayFor(model => model.Img)" />
                <div class="k-card-body">
                    <p>@Html.DisplayFor(model => model.Desc)</p>
                </div>
            </div>
            <div class="k-card card-enquiry">
                <div class="k-card-header">
                    <h5 class="k-card-title">Make an Enquiry</h5>
                    <h6 class="k-card-subtitle">
                        There are @Html.DisplayFor(model => model.Enquiries) enquiries made
                    </h6>
                </div>
                <div class="k-card-body">
                    @{ if (Model.Enquiries > 0)
                        {
                            <p>Make an Enquiry and this property could be yours!</p>
                        }
                        else
                        {

                            <p>You could be the first to enquire! Enquire now!</p>
                        }
                    }
                </div>
                <div class="k-card-actions k-card-actions-stretched">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <button id="enquireBtn" data-id='@Html.DisplayFor(model => model.ID)' class="enquireBtn k-button k-flat k-primary">Enquire</button>
                    }
                    else
                    {
                        <a type="button" asp-area="Identity" asp-page="/Account/Login" class="k-button k-flat k-primary">Enquire</a>
                    }
                </div>
            </div>
        </div>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
        <script>
            var enquireUrl = '/Properties/Enquire';
            $(function () {
                $(".enquireBtn").click(function () {
                    var id = $(this).attr('data-id');
                    var options = { "backdrop": "static", keyboard: true };
                    $.ajax({
                        type: "GET",
                        url: enquireUrl,
                        contentType: "application/json; charset=utf-8",
                        data: { "ID": id },
                        datatype: "json",
                        success: function (data) {
                            debugger;
                            $('#enquireModalContent').html(data);
                            $('#enquireModal').modal(options);
                            $('#enquireModal').modal('show');
                        },
                        error: function () {
                            alert("Dynamic content load failed.");
                        }
                    });
                });
            });
        </script>
        <div class="modal fade" id="enquireModal" tabindex="-1" role="dialog"
             aria-labelledby="enquireModalLabel">
            <div id='enquireModalContent'></div>
        </div>
        <style>

            .card-details {
                width: 70%
            }

            .card-enquiry {
                width: 30%
            }

            .k-card {
                margin: 14px;
            }

            .k-card-header {
                text-align: left;
            }

            .container {
                align-content: center;
                justify-content: center;
                text-align: center;
            }

            .card-container {
                max-width: 70%;
                margin: auto;
                display: flex;
            }
        </style>
    </div>

