﻿@model ClearSkyProperties.Models.PropertyAndEnquiry
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
            </button>
            <div id="propertyId"></div>
            <h4 class="modal-title" id="myModalLabel">Enquiry Form</h4>
        </div>
        <form asp-action="CreateEnquiry">
            <div class="modal-body">
                <div class="form-group">
                    <input asp-for="Enquiry.PropertyID" type="hidden" value="@Model.Property.ID">
                    <input asp-for="Enquiry.PropertyName" class="form-control" type="text" value="@Model.Property.Name" />
                    <span asp-validation-for="Enquiry.PropertyName" class="text-danger"></span>
                </div>
                <div class="form-group name-form">
                    <input asp-for="Enquiry.FirstName" class="form-control half-width margin-right" type="text" placeholder="First Name" id="inputFName" />
                    <span asp-validation-for="Enquiry.FirstName" class="text-danger"></span>
                    <input asp-for="Enquiry.LastName" class="form-control half-width" type="text" placeholder="Last Name" id="inputLName" />
                    <span asp-validation-for="Enquiry.LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Enquiry.Email" class="form-control" type="text" value="@User.Identity.Name" id="inputEmail" />
                    <span asp-validation-for="Enquiry.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Enquiry.PhoneNumber" class="form-control" type="number" placeholder="Contact Telephone" id="inputTelephone" />
                    <span asp-validation-for="Enquiry.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <textarea asp-for="Enquiry.Msg" type="text" rows="5" placeholder="I am looking to enquire about @Model.Property.Name... " class="form-control" id="inputMsg"></textarea>
                    <span asp-validation-for="Enquiry.Msg" class="text-danger"></span>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary button">Enquire</button>
                </div>
            </div>
        </form>
    </div>
    <style>

        .button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 12px;
        }

        .modal-header .close {
            text-align: left;
            margin: 0px;
            padding: 0px;
        }

        .name-form {
            display: flex;
        }

        .half-width {
            width: 50%;
        }

        .margin-right {
            margin-right: 2%;
        }
    </style>
</div>