﻿@model IEnumerable<ClearSkyProperties.Models.Property>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Properties";
}

@if (null != TempData["alertMessage"])
{
    <script type="text/javascript">
    alert("@TempData["alertMessage"]");
    RedirectToAction(nameof(Index));
    </script>
}

<div id="cards">
    <h1 class="title">@ViewData["Title"]</h1>
    <div class="cardcontainer">
        @foreach (var item in Model)
        {
            <div class="k-card">
                <div class="k-card-header">
                    <h5 class="k-card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                    <h6 class="k-card-subtitle">
                        @{
                            decimal result = item.Price / 100m;
                            var priceString = result.ToString("c");
                        } @priceString
                    </h6>
                </div>
                <a class="k-button k-flat k-primary" asp-action="Details" asp-route-id="@item.ID">
                    <img class="k-card-image" src="@Html.DisplayFor(modelItem => item.Img)" />
                </a>
                <div class="k-card-body">
                    <p>
                        @{
                            var descShort = item.Desc.Length <= 50 ? item.Desc : item.Desc.Substring(0, 50) + "...";
                        } @descShort
                    </p>
                </div>
                <div class="k-card-actions k-card-actions-stretched">
                    <span class="k-card-action"><a class="k-button k-flat k-primary" asp-action="Details" asp-route-id="@item.ID">Details</a></span>
                    <span class="k-card-action">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <button id="enquireBtn" data-id='@item.ID' class="enquireBtn k-button k-flat k-primary">Enquire</button>
                        }
                        else
                        {
                            <a type="button" asp-area="Identity" asp-page="/Account/Login" class="k-button k-flat k-primary">Enquire</a>
                        }
                    </span>
                </div>
            </div>
        }
        <script>
            var enquireUrl = '/Properties/Enquire';
            $(function () {
                $(".enquireBtn").click(function () {
                    var id = $(this).attr('data-id');
                    var options = { "backdrop": "static", keyboard: true };
                    $.ajax({
                        type: "GET",
                        url: enquireUrl,
                        contentType: "application/json; charset=utf-8",
                        data: { "ID": id },
                        datatype: "json",
                        success: function (data) {
                            debugger;
                            $('#enquireModalContent').html(data);
                            $('#enquireModal').modal(options);
                            $('#enquireModal').modal('show');

                        },
                        error: function () {
                            alert("Dynamic content load failed.");
                        }
                    });
                });
            });
        </script>
        <div class="modal fade" id="enquireModal" tabindex="-1" role="dialog"
             aria-labelledby="enquireModalLabel">
            <div id='enquireModalContent'></div>
        </div>
        <style>

            .title {
                text-align: center;
            }

            .cardcontainer {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }

            .k-card {
                width: 285px;
                margin: 1%;
            }

            .k-card-image {
                height: 200px;
            }

            .k-card-actions {
                text-align: center;
                border-width: 1px 0 0;
                border-color: inherit;
            }
        </style>
    </div>
</div>
@*<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Enquiries)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Enquiries)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>*@
